@charset "UFT-8";


/* rezetndo as configurações */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* ESTILIZAÇÕES GERAIS */

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* ESTILIZAÇÃO PARAGRAFOS */
p 
{
    /* size */
    /* spacing */
    padding-bottom: 7%;
    /* text */
    text-align: justify;
    text-indent: 20px;
    color: white;

}

/* ESTILIZAÇÃO TITULO NIVEL 1  */
h2
{

    /* TEXTS */
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

h3
{
    font-size: clamp(0.7em, 0.8em, 0.9em);
    font-weight: bold;
}

/* cabeçalho */

header
{
    /* size */
    width: 100vw;

    /* box model */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* background */
    background-color: aliceblue;


}

/* imagem alexandre */
header > img
{
    width: calc(408px / 2);
    height: calc(612px / 2);
}
/* container do titlo */
#title-container
{
    /* box model */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;


    
}
/* toda imahem que estiver no container title */
#title-container img
{
    width: 25px;
    height: 25px;

    /* box model */
    margin-top: 5px;
}

/* icone das redes sociais do titulo */
#container-imagens-icons
{
    display: flex;
    justify-content: center;
    gap: 30px;
    column-gap: 10px;
}

/* parte principal do site */
main
{
    width: 100vw;
}

/* galery box */

section#galery-box
{
    /* size */
    width: 90%;
    height: 400px;

    /* box model */
    margin: auto;
    overflow-y: hidden ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 5px;
    /* spacing */
    margin-bottom: 10px;
    /* background */
    background-color: rgba(240, 248, 255, 0.562);
}

#galery
{
    /* size */
    width: 800px;
    height: 400px;
    /* columns */
    column-count: 3;
    column-gap: 10px;

    /* background */


    
}

/* bOTÇOES DE SCROLL */
#btn-next
{
    /* position */
    position: absolute;
    top: 80%;
    left: 90%;
}

/* botão de voltar as imagens  */
#btn-back
{
    position: absolute;
    top: 80%;
    left: 9%;

    display: none;
}

/* estilização dos botões scrools generica */
.btn-scroll
{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: 4px;
}

/* estilização dos botões scrools generica : HOVER*/
.btn-scroll:hover
{
    cursor: pointer;
    color: white;
}


/* IMAGENS DA GALERIA */
#galery img
{
    
    border-radius: 5px;
    
    
}

/* IMGENS DA GALERIA : HOVER */
#galery img:hover
{
    cursor: pointer;

}

/* SESSÃO DE SOBRE  */
section#about-me
{
    /* box model */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;

    /* background-color */
    background-color: #5C3C3C;

    /* ESTILIZAÇÃO DO H2 DA SESSÃO SOBRE MIM */
    h2 
    {
        /* SPACING */
        padding: 20px ;
    }
}


/* estilização das âncoras da sessão sobre me */
section#about-me a
{
    /* size */
    
    /* spacing */
    padding: 10px 30px 10px 30px;
    /* text */
    text-decoration: none;
    color: white;
    /* background */
    background-color: black;
    border-radius: 20px;
}

/* sessão de coantatos */
section#contacts
{
    /* spacing */
    padding: 3%;

    /* box model */
    display: flex;
    /*  flex direction e flex wrap */
    flex-flow: column wrap;
    /* posisão nos eixos tansversal e principal */
    justify-content: center; /* main axis  */
    align-items: center; /* cross axis  */

    h2 {
        color: black;
        padding: 5% 3% 7% 3%;
    }

}

/* container dos icons de contatos  */
section#icons-contacts-container
{
    /* box model */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

   
}

section#icons-contacts-container a
{


    img {
        width: 60px;
        height: 60px;
    }

    margin-bottom: 20%;

}

/* footer do site */
footer
{
    /*box model*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
    padding: 30px;

    /* background */
    background-color: #5C3C3C;
    color: white;

}


footer section
{
    padding-right: 5%;
    padding-left: 5%;

    border-right: 2px solid black;
    border-left: 2px  solid black;
}

