@charset "UFT-8";


/* rezetndo as configurações */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* cabeçalho */

header
{
    /* size */
    width: 100vw;

    /* box model */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* background */
    background-color: aliceblue;


}

/* imagem alexandre */
header > img
{
    width: calc(408px / 2);
    height: calc(612px / 2);
}
/* container do titlo */
#title-container
{
    /* box model */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-items: center;


    
}
/* toda imahem que estiver no container title */
#title-container img
{
    width: 25px;
    height: 25px;

    /* box model */
    margin-top: 5px;
}

/* icone das redes sociais do titulo */
#container-imagens-icons
{
    display: flex;
    justify-content: center;
    gap: 30px;
    column-gap: 10px;
}

/* parte principal do site */
main
{
    width: 98%;
    background-color: rgba(0, 0, 0, 0.281);
}

/* galery box */

section#galery-box
{
    /* size */
    width: 90%;
    height: 400px;

    /* box model */
    margin: auto;
    overflow-y: hidden ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 5px;
    /* spacing */
    margin-bottom: 10px;
    /* background */
    background-color: rgba(240, 248, 255, 0.562);
}

#galery
{
    /* size */
    width: 800px;
    height: 400px;
    /* columns */
    column-count: 3;
    column-gap: 10px;

    /* background */


    
}

/* bOTÇOES DE SCROLL */
#btn-next
{
    position: absolute;
    top: 80%;
    left: 90%;
}

#btn-back
{
    position: absolute;
    top: 80%;
    left: 9%;

    display: none;
}


.btn-scroll
{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 1.3em;
    border-radius: 4px;
}

.btn-scroll:hover
{
    cursor: pointer;
    color: white;
}



#galery img
{
    
    border-radius: 5px;
    
    
}

#galery img:hover
{
    cursor: pointer;
    

    background-blend-mode: multiply;
    
}

section#about-me
{
    /* box model */
    padding: 20px;

    /* background-color */
    background-color: #5C3C3C;

}